.container-contact{
    background: linear-gradient(to bottom, #74005a, #820259, #4f043c, #063c43, #09a0c2) fixed;
    padding: 20px;
  }
  
  #errorMessage{
    background-color: #dc3c58;
  margin-left:-24px;
    display:flex;
    align-content: center;
    height:50px;
    -webkit-box-shadow: -4px 10px 10px -9px rgba(0,0,0,0.41);
  -moz-box-shadow: -4px 10px 10px -9px rgba(0,0,0,0.41);
  box-shadow: -4px 10px 10px -9px rgba(0,0,0,0.41);
  }
  
  #errorMessage p{
    color:#eddade;
    align-self: center;
    margin: 0 auto;
  }
  
  
  
  .slider1{
    margin-bottom: 5px;
    font-size:13px;
    color:green;
    font-style: italic bold;
  
  }
  
  .slider2{
    margin-bottom: 5px;
    font-size:13px;
    color:green;
    font-style: italic bold;
  
  }
  
  .mainloggin{
    background-color: white;
    width: 700px;
    height:600px;
    margin: 20px auto;
    
    border-radius: 21px;
    -webkit-box-shadow: 1px 17px 29px 11px rgba(0,0,0,0.28);
    -moz-box-shadow: 1px 17px 29px 11px rgba(0,0,0,0.28);
    box-shadow: 1px 17px 29px 11px rgba(0,0,0,0.28);
  }
  
  .leftSide {
    width:45%;
    float:left;
    height:100%;
    background-image: url(../Images/logo-Imagina.png);
    background-position: center;
    background-size: 200px 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 21px 0px 0px 21px;
    -webkit-box-shadow: 29px 0px 29px -23px rgba(0,0,0,0.2);
    -moz-box-shadow: 29px 0px 29px -23px rgba(0,0,0,0.2);
    box-shadow: 29px 0px 29px -23px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:100px;
  }
  
 .overlay-image{
  display: none;
 }
  
  h2{
    color:white;
    margin: 0 auto;
    margin-top: 9rem!important;
    font-family: sans-serif;
    letter-spacing:1.5px;
    text-align: center;
  }
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.hero{
    height: 100%;
    width: 100%;
    background: url(http://www.allwhitebackground.com/images/6/3D-Background-Free-Picture.png);
  
/*  ekhane background pic ta online theke nea tai change...   */
    background-position: center;
    background-size: cover;
    position: absolute;
}
.black{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
}
.formBox{
    overflow: hidden;
    border-radius: 25px;
    width: 380px;
    height: 480px;
    background: rgba(255, 255, 255, 0.76);
    position: relative;
    margin: 6% auto;
    padding: 6px;
}
.buttonBox{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;


}
.toggolebtn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px ;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}
.social{
    margin: 30px auto;
    text-align: center;
}
.social img{
    width: 30px;
    margin: 0 12px;
    box-shadow: #7f7f7f3d;
    cursor: pointer;

}
#fecha{
  width: 70%;
  border-style: none;
  border-bottom: 1px solid #858585;
  display: flex;
  margin: 10px 0;
  color: #7f7d7d;
  font-size: 0.8rem;
  padding: 2px;
}
#fecha:hover{
  border-bottom: 1px solid #840252;
}

input[type="date"]:focus {
  border-style: none;
  box-shadow: 0 0 10px rgba(144, 0, 112, 0.5);
  outline: none;
  background-color: white;
}
.mainloggin span {
  font-size: 12px!important;
  }

.inputGroup{
    width: 280px;
    transition: .5s;

}
.inputGroup h1{
  color: #353535;
  filter: blur(0.5px);
  
  font-weight: 500;
  font-size: 3rem;
}
.inputGroup h6 {
  font-size: 1rem;
  DISPLAY: flex;
  font-family: sans-serif;
  font-weight: 600;
  color: darkgrey;
  margin: 10px 0 5px 0;}

.inputField{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background:transparent ;
}
.submitbtn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #74005a, #930056);
    border: 0;
    outline: none;
    border-radius: 30px;
    color: #fdfdfd;
}
.chackbox{
    margin: 30px 10px 30px 0;
}

#login{
    left: 50px;
}
#register{
    left: 450px;
}
  .leftSide button {
    width:160px;
    border-radius: 30px;
    background-color: white;
  border: #FF4B75 solid 6px;
  }
  
  .leftSide p {
    text-align: center;
    color:white;
    font-size: 12px;
    align-self: flex-end;
  }
  
  .rightSide{
    width:55%;
    float:right;
    padding: 50px 10px 30px 40px;
  }
  
  .informationSubmit{
    margin-bottom:20px;
  }
  .mainloggin{
    padding: 0;
  }
  .mainloggin span{
    color: #3F3C3C;
    
  }
  .mainloggin span {
    font-size: 12px
    }
  input{
    width: auto;
  }
 
    .chackbox {
      margin-right: 8px;
      display: flex;
      float: left;
  }
    .mainloggin{
      padding: 0;
    }
    .mainloggin span{
      color: #3F3C3C;
      display: flex;
      width: 90%;
      font-size: 20px;
      float: right;
      padding:  25px 0;
    }
  @media screen and (max-width:767px) {
    
    .mainloggin{
      width: auto;
    }
    .container-contact {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }
    
    .mainloggin {
      display: flex;
      flex-direction: column-reverse;
      position: relative;
      background-color: #ffff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      height: 80%;
    }
    
    
    .rightSide {
      width: auto; 
      float: none; 
      padding: 0; 
  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 20px;
    }
    
    #errorMessage {
      display: none;
      color: red;
      margin-bottom: 10px;
    }
    
    input {
      margin: 10px 0;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
    
    .chackbox {
      margin-right: 8px;
    }
    .leftSide {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: none;
      
    }
    .inputGroup h1 {
      color: #353535;
      filter: blur(0.5px);
      font-weight: 500;
      font-size: 2rem;}
    
    .submitbtn {
      background-color: #4caf50;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    
     .overlay-image {
      position: absolute;
      z-index: 2;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px; 
      height: auto; 
      display: flex;
    }
    .mainloggin{
      padding: 0;
    }
    .mainloggin span{
      color: #3F3C3C;
    }
    input{
      width: auto;
    }
   
      .chackbox {
        margin-right: 8px;
        display: flex;
        float: left;
    }
      .mainloggin{
        padding: 0;
      }
      .mainloggin span{
        color: #3F3C3C;
        display: flex;
        width: 90%;
        float: right;
        padding:  20px 0;
      }
      .mainloggin span {
        font-size: 12px
        }
 }
  
  @media screen and (max-width:400px) {
    .chackbox {
      margin-right: 8px;
      display: flex;
      float: left;
  }
    .mainloggin{
      padding: 0;
    }
    .mainloggin span{
      color: #3F3C3C;
      display: flex;
      width: 90%;
      float: right;
      padding: 20px 0;
    }
    input{
      width: auto;
    }
    .mainloggin span {
    font-size: 12px
    }
  }
  @media screen and (max-width:340px) {

  .mainloggin {
    padding: 0;
    width: 250px;
  }
}