html, body {
    background-color: #ebebeb;
  }
  h1 {
    font-family: sans-serif;
    color: #fdfdfd;
    text-align: center;
  }
 
.bxslider li {
    position: relative;
  }
  .bxslider li .item {
    text-align: center; 
    color: #21211f;
  }
  .bxslider li img {
    display: block;
  width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  height: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
  object-fit: cover;
  border-radius: 50%;
  margin: 10px auto 10px; 
  }
  .bxslider li h5, .bxslider li p {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0 0 0;
    margin-top: 10px;
    text-align: center; 
    width: 50%;
    margin: 0 auto;
  }
  #bx-pager {
    margin: 10px auto;
    text-align-last: center;
  }
  #bx-pager a {
    display: inline-block;
    
    border-radius: 50%;
    overflow: hidden;
    width: 15px;
    height: 15px;
    background-color: rgb(189, 189, 189); /* Cambia el color aquí (por ejemplo, #F00 es rojo) */
  }
  
  #bx-pager a.active {
    background-color:purple; /* Cambia el color aquí para cuando esté activo (por ejemplo, #00F es azul) */
  }
  .bx-wrapper{
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: none!important;
  background: #fff;
  margin-bottom: 20px!important;
  padding: 20px!important;
  }